In [1]:
number = 10

In [2]:
number

10

In [3]:
a, b, c = 5, 3.2, "Hello"

In [4]:
a

5

In [5]:
c

'Hello'

In [6]:
fruits = ["apple", "mango", "orange"]

In [7]:
type(fruits)

list

In [10]:
isinstance(fruits, list)

True

In [11]:
numbers = (1, 2, 3)
type(numbers)

tuple

In [14]:
isinstance(numbers, tuple)

True

In [15]:
list_num = [1,2,3]

In [16]:
set(list_num)

{1, 2, 3}

In [17]:
dict_num = {5,6,7}

tuple(dict_num)

(5, 6, 7)

In [18]:
str = 'python'

In [19]:
list(str)

['p', 'y', 't', 'h', 'o', 'n']

In [3]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
 sum = 0
 for val in numbers:
    sum = sum+val
  
print("The sum is", sum)

IndentationError: unexpected indent (<ipython-input-3-f97c94d859bb>, line 2)

In [4]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
genre = ['pop', 'rock', 'jazz','classic']
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz
I like classic

In [9]:
  digits = [0, 1, 5]

  for i in digits:
      print(i)
  else:
      print("No items left.")

0
1
5
No items left.

In [16]:
  marks = {'James': 90, 'Jules': 55, 'Arthur': 77}
  student_name = 'Jules'  
for student in marks:
    if student == student_name:
        print(marks[student])
        break
    else:
        print('No entry with that name found.')

No entry with that name found.
55

In [27]:
  def add_end(L=[]):
      L.append('END')
    
add_end()

In [25]:
name

['Jams', 'Jules', 'END', 'END']

In [36]:
  def greet(*names):
        for name in names:
            print("Hello", name)

In [37]:
greet("Monica", "Luke", "Steve", "John")

Hello Monica
Hello Luke
Hello Steve
Hello John

In [41]:
def zidian(**kwargs):
      print(kwargs)

In [42]:
zidian(a=1, b=2, c=3)

{'a': 1, 'b': 2, 'c': 3}

In [47]:
def factorial(x):
    if x == 1:
        return x
    else:
        return (x * factorial(x-1))

In [48]:
num = 3
factorial(num)

6

In [49]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(filter(lambda x: (x%2 == 0) , my_list))

In [50]:
new_list

[4, 6, 8, 12]

In [51]:
new_list = list(map(lambda x: x * 2 , my_list))

In [52]:
new_list

[2, 10, 8, 12, 16, 22, 6, 24]

In [55]:
x = "global"
def foo():
        global x
        y = "local"
        x = x * 2
        print(x)
        print(y)
    
foo()

globalglobal
local

In [1]:
import datetime
datetime.datetime.now()

datetime.datetime(2021, 5, 9, 22, 25, 0, 706465)

In [3]:
datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')

'2021-05-09 22:28:50'